<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 注解驱动 -->
	<mvc:annotation-driven validator="validator"></mvc:annotation-driven>

	<!-- 引入资源文件 -->
	<context:property-placeholder
		ignore-unresolvable="true" location="classpath:config.properties" />

	<!-- 包自动扫描 -->
	<context:component-scan base-package="com.sinnk.web"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- Hibernate Validator 配置 -->
	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator"></property>
		<property name="validationMessageSource" ref="messageSource"></property>
	</bean>

	<!-- i18n 资源文件名称 -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>classpath:i18n/messages</value>
				<value>classpath:i18n/resource</value>
			</list>
		</property>
		<property name="useCodeAsDefaultMessage" value="false"></property>
		<property name="defaultEncoding" value="UTF-8"></property>
		<property name="cacheSeconds" value="3600"></property>
	</bean>

	<!-- 默认URL路径 -->
	<mvc:view-controller path="/"
		view-name="redirect:${shop.url}/index" />

	<!-- 视图解析器配置 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>


	<!-- MVC拦截器配置 -->
	<mvc:interceptors>

		<!-- 拦截推荐者ID，并存入Cookie -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.sinnk.web.common.interceptor.RefferIDInterceptor"></bean>
		</mvc:interceptor>

		<!-- 拦截Locale信息 -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean id="localeChangeInterceptor"
				class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
				<property name="paramName" value="locale"></property>
			</bean>
		</mvc:interceptor>

		<mvc:interceptor>
			<mvc:mapping path="${front.url}/**" />
			<mvc:mapping path="${m.front.url}/**" />
			<bean class="com.sinnk.web.common.interceptor.DeviceTypeInterceptor"></bean>
		</mvc:interceptor>

	</mvc:interceptors>


	<!-- 静态资源处理 -->
	<mvc:resources location="/statics/" mapping="/statics/**" />
	<mvc:resources location="/upload/" mapping="/upload/**"/>

	<!-- i18n Session处理引擎 -->
	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale" value="zh_CN"></property>
	</bean>


	<!-- 上传文件控制 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="${web.maxUploadSize}"></property>
		<property name="defaultEncoding" value="UTF-8"></property>
	</bean>
	
	
	
	<!-- 开启Shiro注解支持 -->
	<bean
		class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
		depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true"></property>
	</bean>

	<bean
		class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager"></property>
	</bean>


</beans>