body,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,html,img,legend,li,ol,p,ul{margin:0;padding:0}
fieldset,img{border:0}
img{display:block}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:400}
ol,ul{list-style:none}
input{padding-top:0;padding-bottom:0;font-family:SimSun,"宋体"}
input::-moz-focus-inner{border:0;padding:0}
input,select{vertical-align:middle}
input,select,textarea{font-size:12px;margin:0}
input[type=text],input[type=password],textarea{outline-style:none;-webkit-appearance:none}
textarea{resize:none}
table{border-collapse:collapse}

body{background-color: #F1F1F1;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
ul li{line-height: 1}

.text-center{
	text-align: center;
}
.bgwhite{background-color: #FFF;}
.toppest{height: 36px;line-height: 36px;background: url(../img/bg/headline_bg.png) repeat-x}

.user-head{background-color: #FF4401;height: 60px;}

p.frindlink{font-size: 14px;color: #555555;padding-bottom: 5px;border-bottom: dotted 1px #666666;display: inline-block;margin-bottom: 5px;}
.container{width:992px;margin: 0 auto;padding-left: 15px;padding-right: 15px;position: relative;}
.subhead{background-color: #FFFFFF}
.subhead2{border-bottom: solid 2px #FF6A05;}
.fixed{margin-bottom: -2px;}
.foot{margin-top: 10px;background-color: #FFF;padding-bottom: 0;border-top: solid 1px #DDDDDD}
.white{background-color: #FFF;border-top: solid 1px #DDDDDD;margin-top: -1px;}
.row{margin-top: 10px}
.clearfix:after, .container:after ,.row:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}
.text-right{text-align: right}
.span-1{float: left;width: 150px;margin-right: 10px}
.span-2{float: left;width: 190px;margin-right: 10px}
.span-4{float: left;width: 210px;margin-right: 10px}
.span-5{float: left;width: 491px;margin-right: 10px;}
.span-6{float: left;width: 572px;margin-right: 10px}
.span-7{float: left;width: 491px;margin-right: 10px;}
.span-400{float: left;width: 400px;margin-right: 10px;}
.span-433{float: left;width: 433px;margin-right: 10px;}
.span-139{float: left;width: 138px;margin-right: 10px;border-left: solid 1px #E3E4E5;}
.span-11{width: 832px;float: left;margin-right: 10px}
.span-10{width: 792px;float: left;margin-right: 10px}
.span-9{width: 632px;float: left;margin-right: 10px;}
.span-row{float: left;width: 992px;}
.logo{margin-top: 40px}


.span-210{float: left;width: 210px;margin-right: 10px;}
.span-772{float: left;width: 772px}


.panel{background-color: #FFFFFF;padding: 15px 10px;border-bottom: solid 1px #EEE;}
.panel-border{border: solid 1px #FF6600;}
.panel-border-2{border: solid 1px #FF6600;border-top: none;}
.panel .media{width: 36%;float: left;}
.panel .media img{border-radius: 50%;}
.panel .body{float: left;width: 64%;color: #666666;font-size: 12px;}
.panel .body p{margin-bottom: 10px;margin-top: 5px;}


.guohui{float: left;width: 20px;height: 20px;background: url(../img/gh.png) no-repeat;display: block;position: relative;top: -2px;margin-right: 2px;}
p.copyright{text-align: center;font-size: 12px;color: #999999;padding-top: 5px;padding-bottom: 5px;}
.span-6-6{
	float: left;
	width: 281px;
	margin-right: 10px;
}

.pull-10{
	margin-top: 10px;
}
.pull-20{
	margin-top: 20px;
}
.pull-50{
	margin-top: 50px;
}
.push-15{
	margin-bottom: 15px;
}

.nopadding{padding: 0;}

.last{margin-right: 0;border-bottom: none;}


a{text-decoration: none;color: #999;font-size: 12px;}
a:hover{color: #C81623}

a.note:link,a.note:visited,a.note:hover,a.note:active{color: #f10215}a.note:hover{color: #C81623}

ul.horizontal{list-style: none}

ul.horizontal li{display: inline-block;margin-right: 10px}

ul.horizontal li.last,
ul.line li.last{margin-right: 0;padding-right: 0;background: none}

ul.line li{background: url(../img/bg/headline_li_bg.png) right center no-repeat;margin-right: 15px;padding-right: 22px}

ul.line-sm li{margin-right: 5px;padding-right: 12px;}

ul.horizontal li img{
	display: inline;
	margin-right: 5px;
}

.search-hotkey a{
	color: #666;
}
.search-hotkey a:hover{
	color: #FF4400;
}

.xiaoxi{color: #FF4400;margin-left: 4px;}

.chenggong{color: #2E895B;}
.fukuan{color: #CA365A;}

.bottom-10{margin-bottom: 10px;}
.search-block{margin-top: 57px;position: relative;width: 602px;float: right;}
.search-block-left{float:left;width:560px;height:100%;padding:3px;background-color:#FF6600;box-sizing: border-box}
.search-block-left-input{float:left;width:470px;height:34px;background-color:#FFF}
.search-block-left-btn{float:left;width:84px;height:34px;line-height:34px;text-align:center}
.search-block-right{float:left;width:40px;height:100%}
.search-block-right a{display:block;width:30px;height:100%;float:left;margin-left:5px;font-size:14px}

.search-block-left-btn a{display:block;height:100%;font-size:16px}
.search-block-left-btn a:active,.search-block-left-btn a:hover,.search-block-left-btn a:link,.search-block-left-btn a:visited{color:#FFF}
.search-block-left-btn a:hover{text-decoration:underline}

.search-hotkey{width:560px;height:26px;line-height:26px;font-size:12px;overflow:hidden}


.search-hotkey-left{float:left;width:80%;overflow:hidden}
.search-hotkey-right{float:right;width:20%;overflow:hidden}

.search_small_title{position:absolute;width:50px;height:25px;top:-25px;left:0;color:#FFF;font-size:12px;font-weight:700;text-align:center;line-height:25px;background-color:#FF6604}

.gouwuche{display:block;border-bottom:dashed 2px #E3E4E5;background-color:#FFF;width:80%;height:50px;line-height:35px;margin-top:50px;text-align:center;font-size:12px;position:relative;float: right;padding-bottom: 5px;}
.gouwuche:link,.gouwuche:visited,.gouwuche:hover,.gouwuche:active{color:#F60;text-decoration:none}
.gouwuche:hover{border-color: #F37624}
.gouwuche i{
	display: inline-block;
	background-color: #F37624;
	position: absolute;
	top: 0;
	left: 40px;
	line-height: 11px;
	color: #FFFFFF;
	padding: 5px;
	font-style: normal;
	font-size: 11px;
	border-radius: 10px;
	min-width: 11px;
	font-family: arial;
}
.gouwuche div{
	display: block;
	width: 52px;
	height: 17px;
	position: absolute;
	top: 15px;
	right: 0;
	line-height: normal;
}


.sort-title{height:34px;background-color:#FF6A05;font-size:14px;color:#FFF;font-weight:700;line-height:34px;padding-left:10px;box-sizing: border-box;}
.sort-title img{display:block;width:15px;height:12px;float:right;margin-top:11px;margin-right:10px}
.sort-content{height:34px;line-height:34px;overflow:hidden}
.sort-content a:active,.sort-content a:hover,.sort-content a:link,.sort-content a:visited{color:#555;font-size:16px;font-weight:700;text-decoration:none}
.sort-content a:hover{color:#FF6A05}

.sort-content ul li{
	padding-right: 20px;
	margin-right: 0;
	margin-left: 0;
}

.sort-content ul li.curt{background:url(../img/bg/sort_li_bg.png) right center no-repeat;margin-right:10px}



.sort-detail-block{height:490px;background-color:#FF6A05;color:#FFF}


.sort-detail-block ul li{padding-left:10px}
.sort-detail-block ul li span{font-weight:700;font-size: 14px;}
.sort-detail-block ul li i{display:block;float:right;margin-right:10px;margin-top:8px;font-size:11px}
.sort-detail-block ul li a:active,.sort-detail-block ul li a:hover,.sort-detail-block ul li a:link,.sort-detail-block ul li a:visited{color:#FFF;font-size:14px;text-decoration:none;line-height:28px}
.sort-detail-block ul li a:hover{text-decoration:underline}
.sort-detail-block ul li.mouseup{background-color:#D43F3A}





/**
 * Tab 
 */
.tab{
	
}

.tab ul.tab-title{
	list-style: none;
	display: block;
	border-bottom: solid 1px #EEEEEE;
	height: 22px;
}

.tab ul.tab-title li{
	display: inline-block;
	
}

.tab ul.tab-title li a{
	display: block;
	padding: 5px 7px;
}

.tab ul.tab-title li a.active{
	border-bottom: solid 1px #FFFFFF;
	background-color: #FF6A05;
	color: #FFFFFF;
}

.tab div.tab-content-wrap{
	height: 130px;
	overflow: hidden;
	position: relative;
}
.tab div.tab-content{
	position: absolute;
	padding-left: 5px;
	padding-top: 7px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.tab div.tab-content ul{
	border-bottom: none;
}

.tab div.tab-content ul li{
	line-height: 20px;
}

.tab div.tab-content ul li a{
	color: #666666;
}

.tab div.tab-content ul li a:hover{
	color: #D43F3A;
}

.tab div.tab-content.hide{
	display: none;
}



.ad{
	height: 223px;
}


.miaosha{
	height: 46px;
	background: url(../img/miaosha.png) no-repeat;
}

.miaosha-content{
	background-color: #FFFFFF;
	
	box-sizing: border-box;
}

.miaosha-content-block{
	float: left;
	box-sizing: border-box;
	width: 25%;
	
	margin-top: 15px;
	margin-bottom: 15px;
	border-right: solid 1px #E7E7E7;
}

.miaosha-content-block-sm{
	width: 50%;
}

.miaosha-content .fenge{
	height: 1px;
	width: 100%;
	float: left;
	border-bottom: dashed 1px #E7E7E7;
}

.miaosha-content-block.last{
	border-right: none;
}

.miaosha-content-block-img{
	width: 130px;
	height: 130px;
	margin: 0 auto;
	margin-top: 10px;
}

.miaosha-content-block-img img{
	position: relative;
}

.miaosha-content-block p{
	height: 40px;
	margin-top: 7px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}

.miaosha-content-block p.lastp{
	height: 30px;
}

.miaosha-content-block p i{
	font-size: 12px;
	font-family: arial;
	font-style: normal;
	margin-right: 5px;
}
.miaosha-content-block p i.black{
	color: #666;
}
.miaosha-content-block p i.red{
	color: #f10214;
}

.miaosha-content-block p span{
	font-size: 18px;
	font-weight: 700;
	font-family: arial;
}

.miaosha-content-block p span.red{
	color: #f10214;
}

.miaosha-content-block p span.black{
	color: #666;
	font-weight: normal;
}
.miaosha-content-block p span.mr{
	margin-right: 10px;
}

span.h{
	color: #FF4401;
	font-weight: bold;
	font-family: "arial, helvetica, sans-serif";
}

span.hui{
	color: #999999;
}

.dianzhu{
	color: #DB3D00;
}

.s-title{
	height: 46px;
	background-color: #4589A8;
	overflow: hidden;
}

.s-title-zi{
	background-color: #994576;
}

.s-title-hong{
	background-color: #CA365A;
}

.s-title-huang{
	background-color: #EDB426;
}

.s-title-cheng{
	background-color: #E3663F;
}

.s-title-lan{
	background-color: #4F7799;
}

.s-title-zong{
	background-color: #844E4E;
}

.s-title-qianzong{
	background-color: #A0633E;
}

.s-title .biaoti{
	float: left;
	width: 100px;
	margin-left: 20px;
	margin-top: 14px;
}

.s-title .erweima{
	width: 20px;
	height: 20px;
	float: left;
	margin-top: 13px;
}

.s-title .liebiao{
	float: right;
	width: 80%;
	text-align: right;
}

.s-title .sm-liebiao{
	float: right;
	width: 70%;
	text-align: right;
}

.s-title .liebiao ul{
	list-style: none;
	margin-right: 10px;
	margin-top: 11px;
}

.s-title .liebiao ul li{
	display: inline-block;
	margin-right: 10px;
}

.s-title .liebiao ul li a{
	display: block;
	padding: 5px 10px;
	background-color: #6DA6BE;
	border: solid 1px #77B6C3;
	color: #FFFFFF;
}

.s-title-zi .liebiao ul li a{
	background-color: #AC6F93;
	border-color: #C187AF;
}
.s-title-hong .liebiao ul li a{
	background-color: #D36581;
	border-color: #DE7B95;
}
.s-title-huang .liebiao ul li a{
	background-color: #EDCA56;
	border-color: #F9D661;
}

.s-title-cheng .liebiao ul li a{
	background-color: #E28465;
	border-color: #EF9F81;
}

.s-title-lan .liebiao ul li a{
	background-color: #6C90AB;
	border-color: #82A5BC;
}
.s-title-zong .liebiao ul li a{
	background-color: #987171;
	border-color: #B48787;
}

.s-title-qianzong .liebiao ul li a{
	background-color: #B08061;
	border-color: #C19369;
}

.s-title .liebiao ul li a:hover{
	border-color: #FFFFFF;
}



#hidden-sort{
	position: absolute;
	top: 0;
	left: 15px;
	width: 190px;
	z-index: 100;
	display: none;
}



.goodpic{
	width: 400px
	height: 400px;
	overflow: hidden;
}

ul.suoluetu li a{
	display: inline-block;
	width: 50px;
	height: 50px;
	border: solid 2px #FFF;
}

ul.suoluetu li a:hover{
	border-color: #D43F3A;
}

.goodpic ul li i{
	float: left;
	padding-right: 4px;
}

.xiangguan{
	width: 128px;
	height: 520px;
	float: right;
}

.xiangguan img{
	margin-bottom: 20px;
	margin-top: 5px;
}


.xiangguan p{
	height: 128px;
	margin-bottom: 20px;
	overflow: hidden;
}

.xiangguan p.last{
	margin-bottom: 0;
}


.gooddetail{
	
}
.gooddetail h1{
	font-size: 16px;
	font-weight: bold;
	color: #3C3C3C;
}


.gooddetail table{
	font-size: 12px;
	color: #6C6C6C;
}

.gooddetail table td{
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.gooddetail table del{
	font-size: 14px;
	font-weight: 400;
	color: #3C3C3C;
	font-family: verdana,arial;
}

ul.table li{
	line-height: 16px;
	border-right: solid 1px #FFE4D0;
	padding-right: 15px;
}
ul.table li.last{
	border: none;
	padding-right: 10px;
}

ul.table li a{
	color: #6C6C6C;
}

ul.table li a:hover{
	color: #FF4400;
}

ul.yanse li{
	margin-right: 5px;
	padding-bottom: 5px;
}
ul.yanse li a{
	display: inline-block;
	width: 34px;
	height: 34px;
	border: solid 1px #DCDCDC;
}

ul.yanse li a:hover{
	border-color: #F40;
}

ul.yanse li a.clicked{
	border-color: #F40;
}



tr.hong1{
	background-color: #FFF2E8;
	border-bottom: solid 1px #F5F5F5;
}

tr.hong2{
	background-color: #FFF9F5;
}

tr.peisong{
	border-bottom: dotted 1px #D9D9D9;
}

tr.youhui td{
	padding-top: 10px;
	padding-bottom: 10px;
}
tr.peisong td{
	padding-bottom: 10px;
	padding-top: 10px;
}
span.pinglun{
	font-size: 18px;
	font-weight: 400;
	font-family:tahoma
}

span.price{
	font-size: 26px;
	color: #F40;
}




.shuliang{
	width: 104px;
	height: 26px;
	float: left;
	border: solid 1px #CCC;
}

.shuliang-jian{
	width: 26px;
	height: 26px;
	float: left;
	border-right: solid 1px #CCC;
}

.shuliang-jia{
	width: 26px;
	height: 26px;
	float: right;
	border-left:  solid 1px #CCC;
}

.shuliang-middle{
	float: left;
	width: 50px;
	height: 26px;
	overflow: hidden;
}

.shuliang-middle input{
	width: 50px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	border: none;
	font-size: 16px;
	ime-mode: disabled;
	font-family:tahoma;
	color: #666;
}

.shuliang-kucun{
	float: left;
	height: 28px;
	line-height: 28px;
	margin-left: 5px;
	font-size: 12px;
	
}

.shuliang-kucun span{
	color: #C81623;
	padding-left: 2px;
	padding-right: 2px;
}


.lijigoumai{
	float: left;
	width: 136px;
	height: 40px;
	margin-top: 20px;
	overflow: hidden;
	margin-bottom: 10px;
}

.jiarushoucang{
	float: left;
	width: 182px;
	height: 40px;
	margin-top: 20px;
	margin-left: 10px;
	overflow: hidden;
	margin-bottom: 10px;
}

.lijigoumai a{
	display: block;
	width: 134px;
	height: 38px;
	line-height: 40px;
	border: solid 1px #F0CAB6;
	background-color: #FFE4D0;
	border-radius: 2px;
	text-align: center;
	color: #E5511D;
	font-size: 16px;
}

.lijigoumai a:hover{
	background-color: #FFD9BC;
}


.jiarushoucang a{
	display: block;
	width: 182px;
	height: 40px;
	line-height: 42px;
	text-indent: 65px;
	border-radius: 2px;
	background: url(../img/gouwuche-bg-1.png) 40px no-repeat;
	background-color: #FF4400;
	font-size: 16px;
	color: #FFF;
	
}
.jiarushoucang a:hover{
	background: url(../img/gouwuche-bg-2.png) 40px no-repeat;
	background-color: #F22D00;
}


.bottomsolid{
	height: 1px;
	background-color: #E3E4E5;
	margin-top: 5px;
}


.tuijianbaobei{
	background-color: #FF6A05;
	font-size: 12px;
	color: #FFF;
	line-height: 28px;
	padding-left: 5px;
}

ul.tuijian{
	margin-top: 5px;
}
ul.tuijian li img{
	margin-bottom: 5px;
}
ul.tuijian li a{
	margin-top: 5px;
	color: #666;
}
ul.tuijian li a:hover{
	text-decoration: underline;
}
ul.tuijian li p{
	margin-top: 10px;
	font-size: 14px;
	color: #F10214;
}

ul.tuijian li{
	border: solid 1px #FFD9BF;
	padding:10px;
	margin-bottom: 7px;
}


ul.xiangqing{
	height: 44px;
	background-color: #F6F6F6;
	border-top: solid 1px #E5E5E5;
	border-bottom: solid 1px #E5E5E5;
	border-right: solid 1px #E5E5E5;
	padding-left: 10px;
	
}

ul.xiangqing li{
	margin-right: -4px;
}

ul.xiangqing li a{
	display: inline-block;
	width: 168px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	background-color: #F6F6F6;
	position: relative;
	top: -1px;
	border-top: solid 1px #E5E5E5;
	border-bottom: solid 1px #E5E5E5;
	border-left: solid 1px #E5E5E5;
}




ul.xiangqing li a.select{
	border-top: solid 1px #FF6A05;
	background-color: #FFF;
	border-bottom: solid 1px #FFF;
	color: #FF6A05;
}

ul.xiangqing li a.first{
	border-left: solid 1px #F6F6F6;
}

.baobeixiangqing{
	border: solid 1px #E5E5E5;
	border-top: none;
	padding: 10px;
}

div.hide{
	display: none;
}


li.chengnuo{
	line-height: 18px;
}

li.chengnuo img{
	display: inline;
	float: left;
	margin-right: 4px;
}


.pingjia-left{
	float: left;
	width: 100px;
	text-align: center;
}
.pingjia-left img{
	margin: 0 auto;
}
.pingjia-left p{
	line-height:22px;
	font-size: 12px;
	color: #666666;
}
.pingjia-right{
	float: left;
	width: 650px;
	font-size: 14px;
	color: #666666;
}

.pinglun-content{
	margin-top: 20px;
	border-bottom: solid 1px #F6F6F6;
	padding-bottom: 10px;
}


.pingjia-right p{
	margin-top: 20px;
	font-size: 12px;
	color: #999999;
}

.pingjia-right p.jilu{
	margin: 0;
}



.mask{
	background-color: #CCCCCC;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
	display: none;
}


.catedetail{
	position: absolute;
	top: 0;
	left: 205px;
	background-color: #F7F7F7;
	width: 580px;
	height: 486px;
	border: solid 2px #FF6A05;
	border-left: none;
	display: none;
	overflow: hidden;
}

.catedetail-row{
	margin-top: 10px;
	margin-bottom: 20px;
}

.catedetail-left{
	float: left;
	width: 70px;
	text-align: right;
	padding-right: 10px;
}

.catedetail-right{
	float: left;
	width: 500px;
}

.catedetail a{
	color: #666;
}
.catedetail a:hover{
	color: #C81623;
}

.catedetail-left a{
	font-weight: 700;
}



.category-bg{
	background-color: #F2F2F2;
	
}

.category-block{
	background-color: #F2F2F2;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
}

.category-block span{
	font-size: 12px;
	color: #666;
	margin-left: 5px;
	margin-right: 5px;
	font-family: simsun;
}

.category-block a{
	color: #666666;
}


.category-content{
	background-color: #FFF;
	border: solid 1px #E8E8E8;
	padding: 10px;
}

.category-content-left{
	float: left;
	width: 10%;
	color: #999;
}
.category-content-right{
	float: left;
	width: 90%;
}

.category-content-left ul li{
	font-size: 12px;
}



.category-content-right ul li a{
	color: #555555;
}

.category-content-right ul li a:hover{
	color: #D43F3A;
}

.category-content-right ul li{
	margin-right: 20px;
	margin-bottom: 7px;
}


.paiming-content{
	background-color: #F5F5F5;
	border: solid 1px #E8E8E8;
}
.paiming-content ul li{
	float: left;
}

.paiming-content ul li i{
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 19px;
	right: 7px;
}

.paiming-content ul li a{
	display: block;
	padding: 15px 10px;
	border-right: solid 1px #E8E8E8;
	padding-right: 25px;
	position: relative;
}

.paiming-content ul li a.bg_bai{
	background-color: #FFF;
	color: #FF5500;
}



.paiming-content ul li a:hover{
	color: #FF5500;
	background-color: #FFF;
}


.item-list{
	float: left;
	width: 240px;
	height: 370px;
	border: solid 1px #EDEDED;
	margin-right: 8px;
	margin-bottom: 10px;
	overflow: hidden;
}
.item-list-active{
	border: solid 1px #FF4400;
}


.item-list-last{
	margin-right: 0;
}

.item-list-img{
	width: 240px;
	height: 240px;
}

.item-list-left{
	float: left;
	width: 46%;
	padding-top: 15px;
	padding-left: 10px;
	color: #FF4400;
	font-weight: 700;
}

.item-list-left span{
	font-size: 12px;
	position: relative;
	display: inline-block;
	width: 30px;
	height: 18px;
	background-color: #FF4400;
	color: #FFF;
	padding-left: 4px;
	left: 4px;
	bottom: 2px;
	font-weight: normal;
}

.item-list-right{
	float: right;
	width: 45%;
	text-align: right;
	font-size: 12px;
	color: #999999;
	padding-right: 10px;
	padding-top: 15px;
	
}


.item-list p{
	height: 40px;
	overflow: hidden;
	padding: 5px 10px;
}

.item-list p a{
	color: #666666;
}
.item-list p a:hover{
	color: #FF4400;
	text-decoration: underline;
}

.pai{
	padding-left: 10px;
	margin-top: 5px;
}


.btn{
	display: inline-block;
	padding: 3px 7px;
	background-color: #FF6A05;
	color: #FFF;
	margin-right: 5px;
}

.btn:hover{
	color: #FFF;
	background-color: #DB3D00;
}

.btn-last{
	margin-right: 0;
}




ul.fenye{
	list-style: none;
}


ul.fenye li{
	margin-right: 5px;
	display: inline-block;
}

ul.fenye li a{
	display: block;
	background-color: #FFF;
	padding: 5px 7px;
	border: solid 1px #DCDCDC;
}

ul.fenye li.last{
	margin-right: 0;
}

ul.fenye li a:hover{
	color: #FF4400;
	border-color: #FF6A05;
}


.userinfo{
	font-size: 12px;
	color: #C0976B;
}



.logo-lianfa{
	float: left;
	margin-top: 17px;
}

.logo-lianfa-info{
	float: left;
	margin-left: 100px;
	
}

ul.wode li{
	margin-right: 0;
}

ul.wode li a{
	color: #FFF;
	display: block;
	line-height: 60px;
	padding: 0 20px;
	
}

ul.wode li a.xuanzhong{
	background: url(../img/wodesanjiao.png) bottom center no-repeat;
}



.wode-left{
	float: left;
	width: 140px;
	padding-left: 35px;
	margin-right: 10px;
	background-color: #FFF;
	border-right: solid 1px #E4E4E4;
	padding-top: 10px;
	padding-bottom: 10px;
}


.wode-right{
	float: left;
	width: 806px;
}


ul.ucenter li p{
	font-size: 14px;
	color: #FF4401;
	padding-bottom: 7px;
	position: relative;
}

ul.ucenter li a{
	color: #666666;
	line-height: 22px;
}

ul.ucenter li a:hover{
	color: #FF4401;
}

ul.ucenter li.pd p{
	padding-top: 10px;
}

ul.ucenter li.pd p img{
	top: 13px;
}


ul.ucenter li img{
	position: absolute;
	left: -20px;
	top: 3px;
}


.wode-content{
	border: solid 1px #E4E4E4;
	background-color: #FFF;
}


.wode-content-list{
	padding:8px;
}

.wode-content-head{
	border-bottom: solid 1px #E4E4E4;
	background-color: #FFF;
	padding:20px;
	font-size: 14px;
	color: #D43F3A;
	position: relative;
}

.wode-content-head-3{
	float: left;
	width: 480px;
	border-right: solid 1px #E4E4E4;
}

.wode-content-head-2{
	padding: 15px;
}

.wode-content-head-last{
	border-bottom: none;
}

img.round{
	border-radius: 50%;
}


.wode-content-head-left{
	float: left;
	font-size: 12px;
}

.wode-content-head-right{
	float: right;
	font-size: 12px;
	color: #9E9E9E;
}

.wode-content-head-left p{
	margin-top: 2px;
	margin-left: 15px;
	font-size: 12px;
	color: #6C6C6C;
}

.wode-content-head-left p.t{
	color: #3C3C3C;
}
.wode-content-head-left p.t2{
	color: #9E9E9E;
}




.wode-content-head-left p a{
	margin-left: 20px;
}
.wode-content-head-left p.one{
	margin: 0;
	margin-left: 15px;
	line-height: 60px;
}

.wode-content-head-left-2{
	width: 260px;
}

.left-40{
	margin-left: 50px;
}

span.mount{
	color: #C81623;
}

.wode-content-detail{
	padding:10px 0;
}


.wode-content-detail-block{
	float: left;
	width: 160px;
	text-align: center;
	border-right: solid 1px #E4E4E4;
}

.wode-content-detail-block-last{
	border: none;
}


a.queren{
	display: block;
	float: right;
	padding: 5px 10px;
	background-color: #F5F5F5;
	border: solid 1px #E4E4E4;
	margin-top: 16px;
}


.border-bottom-gray{
	border-bottom: solid 1px #E4E4E4;
}

.border-right-gray{
	border-right: solid 1px #E4E4E4;
}

.p{
	line-height: 22px;
}

.bolder{
	font-weight: 700;
}

.box-padding-10{
	padding: 10px;
}


.font-gray{
	color: #3C3C3C;
}

.font-gray-2{
	color: #9E9E9E;
}

.font-sm{
	font-size: 12px;
}


.querenshouhuo{
	display: block;
	padding: 7px 9px;
	background-color: #339966;
	color: #FFF;
	font-weight: 700;
}

.querenshouhuo:hover{
	color: #FFF;
	background-color: #2E895B;
}

.lijifukuan{
	background-color: #669999;
}

.lijifukuan:hover{
	background-color: #578484;
}


.daifahuo{
	color: #E3663F;
}


.xiadanshijian{
	float: right;
}



ul.shoucang{
	
}


ul.shoucang li{
	display: block;
	float: left;
	width: 191px;
	margin-right: 8px;
	margin-top: 8px;
	overflow: hidden;
	position: relative;
}

ul.shoucang li img{
	display: block;
	width: 191px;
	height: 191px;
	margin-bottom: 5px;
}

ul.shoucang li p{
	height: 40px;
	overflow: hidden;
}

ul.shoucang li p a{
	color: #666;
}

ul.shoucang li p a:hover{
	text-decoration: underline;
}

ul.shoucang li a.shanchu{
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 5px;
	background-color: #FF4401;
	display: none;
	color: #FFF;
}



.hong{
	color: #FF0000;
	margin-right: 10px;
}

ul.shoucang li p.jiage{
	height: 30px;
	line-height: 20px;
	font-size: 14px;
}



ul.shoucang li.last{
	margin-right: 0;
}


ul.shoucang li:nth-child(4n){
	margin-right: 0;
}


ul.shoucang li:nth-child(-n+4){
	margin-top: 0;
}


.tongji{
	padding-left: 15px;
	font-size: 12px;
	color: #555555;
}


.shu{
	color: #3C3C3C;
}

.shu:hover{
	text-decoration: underline;
}

table.xiaxian{
	width: 100%;
	margin-bottom: 21px;
}
table.xiaxian tr{
	border-bottom: dashed 1px #E4E4E4;
}

table.xiaxian tr td{
	padding: 7px;
}

img.noblock{
	display: inline;
	
}

a.tixian{
	width: 100px;
	text-align: center;
	margin-bottom: 10px;
}
 .red{
 	color: #D43F3A;
 }



.lv{
	color: #2E895B;
}


.lan{
	color: #0066FF;
}


.tr{
	background-color: #EEEEEE;
}


.tuiguang{
	font-family:"arial, helvetica, sans-serif";
	font-size: 16px;
	color: #2E895B;
}


a.jiaocheng{
	color: #DB3D00;
}

a.jiaocheng:hover{
	color: #C81623;
	text-decoration: underline;
}


.loginbg{
	height: 600px;
	background-image: url(../img/loginbg1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 10px;
	margin-bottom: 40px;
}


.loginblock{
	width: 350px;
	height: 350px;
	float: right;
	background-color: #EEEEEE;
	margin-top: 125px;
	box-sizing: border-box;
	padding: 30px;
}

p.denglu{
	font-family: "microsoft yahei";
	font-size: 16px;
	font-weight: 700;
	color: #3C3C3C;
	margin-bottom: 40px;
}

.logininputbox{
	height: 40px;
	border: solid 1px #DDDDDD;
	margin-top: 20px;
}

.logininputbox-yonghuming{
	width: 40px;
	height: 40px;
	float: left;
	background: url(../img/yonghuming.png) no-repeat;
}

.logininputbox-mima{
	width: 40px;
	height: 40px;
	float: left;
	background: url(../img/mima.png) no-repeat;
}

.logininputbox-right{
	float: left;
	height: 40px;
	width: 248px;
	line-height: 40px;
	overflow: hidden;
}

.logininput{
	float: left;
	width: 238px;
	height: 40px;
	border: none;
	background-color: #FFF;
	padding-left: 10px;
	font-size: 14px;
	font-family: "arial, helvetica, sans-serif";
}


a.btn-denglu{
	display: block;
	text-align: center;
	background-color: #FF4400;
	height: 42px;
	line-height: 40px;
	color: #FFF;
	font-size: 14px;
	margin-top: 20px;
	border-radius: 4px;
}

a.btn-denglu:hover{
	background-color: #F52B00;
}


.notice{
	border: solid 1px #FFB4A8;
	height: 27px;
	line-height: 27px;
	background: url(../img/noticebg.png) center left no-repeat;
	background-position-x: 4px;
	margin-bottom: 28px;
	padding-left: 26px;
	font-size: 12px;
	color: #6C6C6C;
	background-color: #FEF2F2;
	display: none;
}


.loginname{
	color: #3C3C3C;
	font-size: 12px;
}



.usertop-left{
	float: left;
	width: 350px;
	overflow: hidden;
}

.usertop-right{
	float: right;
	text-align: right;
	
}



ul.zhuce{

	padding-top: 10px;
	border-bottom: solid 2px #E6E6E6;
	font-size: 16px;
	font-weight: 700;
	color: #999;
}

ul.zhuce li{
	margin-right: 60px;
	padding-bottom: 10px;
	margin-bottom: -2px;
	padding-left: 40px;
	padding-right: 40px;
}

ul.zhuce li span{
	background-color: #CCCCCC;
	color: #FFF;
	width: 24px;
	height: 24px;
	display: inline-block;
	line-height: 24px;
	margin-right: 7px;
	border-radius: 50%;
}

ul.zhuce li.last{
	margin-right: 0;
	padding-right: 40px;
}

ul.zhuce li.s{
	color: #3E3E3E;
	border-bottom: solid 2px #FF4400;
}


ul.zhuce li.s span{
	background-color: #FF4400;
}



td.dengluming{
	font-size: 14px;
	color: #3E3E3E;
	padding-right: 20px;
}


input.mingcheng{
	border: solid 1px #DEDEDE;
	width: 220px;
	height: 35px;
	font-size: 14px;
	font-family: tahoma;
	padding-left: 10px;
	padding-right: 10px;
	
}

textarea.mingcheng{
	border: solid 1px #DEDEDE;
	width: 220px;
	font-size: 14px;
	font-family: tahoma;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}


a.btn-zhuce{
	width: 200px;
}


input.mingcheng-error,textarea.mingcheng-error{
	border-color: #FF3F13;
}

input.dianji,textarea.dianji{
	border-color: #229BF9;
}

p.zhuceerror{
	background: url(../img/zhuceerror.png) left center no-repeat;
	font-size: 12px;
	color: #FF3F13;
	padding-left: 20px;
	margin-top: 10px;
	display: none;
}

p.zhucetishi{
	background: url(../img/zhucetishi.png) left center no-repeat;
	font-size: 12px;
	color: #2E895B;
	padding-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: none;
}

td.dengluming2{
	padding-top: 6px;
}


#btn-rezhuce{
	display: inline-block;
	width: 200px;
	text-align: center;
	margin-top: 10px;
}



.querenxinxi{
	background-color: #F0FDEE;
	border: solid 1px #D5FACF;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-bottom: 20px;
	color: #2E895B;
}

.chenggongxinxi{
	background-color: #F0FDEE;
	border: solid 1px #D5FACF;
	text-align: center;
	margin-bottom: 20px;
	color: #2E895B;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shibaixinxi{
	background-color: #FFECEC;
	border: solid 1px #FFCECE;
	text-align: center;
	margin-bottom: 20px;
	color: #CA365A;
	padding-top: 20px;
	padding-bottom: 20px;
}


.shibaixinxi p img{
	display: inline;
}
.chenggongxinxi p img{
	display: inline;
}

.chenggongxinxi p a{
	color: #E5511D;
}
.chenggongxinxi p a:hover{
	text-decoration: underline;
}

.shibaixinxi p a{
	color: #3E3E3E;
}

.shibaixinxi p a:hover{
	text-decoration: underline;
}
